body {
  background-color: papayawhip;
}

.chatroom {
  background-color: rgb(255, 255, 255);
  margin: 2em;
  padding: 0 1em;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .message {
    margin: 0.5em;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: palevioletred;
  width: 75%;
  margin: 0 auto;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  * {
    padding: 0.5em 1em;
    margin: 0 auto;
  }
}

.button {
  // padding: 8px 12px;
  background-color: palevioletred;
  color: white;
  // margin: 1em;
  border: none;
  &:hover {
    background-color: red;
    cursor: pointer;
  }
}

.input-container {
  display: flex;

  input[type='text'] {
    padding: 4px 12px;
    margin: 0.5em 1em;
    width: 90%;
    margin-right: 0.5%;
  }

  button {
    width: 9%;
    padding: 10px;
  }
}
